{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <!-- Header Section -->
    <div class="row align-items-center mb-4 mt-4">
        <div class="col-md-6">
            <h1 class="h3 mb-0 text-gray-800">Inspections</h1>
        </div>
    </div>

    <!-- Outgoing Rentals Section -->
    <div class="card shadow mb-3">

        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Pending Inspections<h6>
        </div>

        <div class="card-body">
            <div class="row">
                {% if not orders_without_inspections%}
                <p>You have 0 outstanding inspections.</p>
                {% endif %}
                
                {% for order in orders_without_inspections %}
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <!-- Rental Start Date -->
                            <div class="card-text" style="font-size: 14px; font-weight: bold;">
                                {{ order.rental_start_date }}
                            </div>
        
                            <!-- Rental End Date with Color Coding -->
                            <div class="text-warning" style="font-size: 24px; font-weight: bold; text-decoration: underline;">
                                <i class="far fa-circle" style="font-size: 20px;"></i>
                                {{ order.rental_end_date }}
                            </div>
        
                            <br>
        
                            <!-- Customer Name -->
                            <div class="card-text" style="font-size: 21px;">
                                <strong>Customer:</strong> {{ order.customer.first_name }} {{ order.customer.last_name }}
                            </div>
        
                            <!-- Equipment ID -->
                            <div class="card-text" style="font-size: 14px; opacity: 0.6">
                                <strong>Equipment ID:</strong> {{ order.equipment.name }}
                            </div>
        
                            <br>
        
                            <!-- Action Buttons -->
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'perform_inspection' order.id %}" class="btn btn-warning">Perform Inspection</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>

    <!-- Rental Returns Section -->
    <div class="card shadow mb-3">

        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Completed Inspections<h6>
        </div>

        <div class="card-body">
            <div class="row">
                {% for order in orders_with_inspections %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">

                            <!-- Rental End Date with Color Coding -->
                            <div class="text-success" style="font-size: 24px; font-weight: bold; text-decoration: underline;">
                                <i class="fa fas fa-check-circle" style="font-size: 20px;"></i>
                                {{ order.equipment.name }}
                            </div>

                            <br>

                            <!-- Customer Name -->
                            <div class="card-text" style="font-size: 21px;">
                                <strong>Customer:</strong> {{ order.customer.first_name }} {{ order.customer.last_name }}
                            </div>

                            <!-- Equipment ID -->
                            <div class="card-text" style="font-size: 14px; opacity: 0.6">
                                <strong></strong> {{ order.rental_start_date }} - {{ order.rental_end_date }}
                            </div>

                            <br>

                            <!-- Action Buttons -->
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'view_inspection' order.id %}" class="btn btn-success">View Inspection Report</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
