{% extends "base.html" %} {% load humanize %}

{% block content %}
<div class="container-fluid">
    <!-- Header Section -->
    <div class="row align-items-center mb-4 mt-4">
        <div class="col-md-6">
            <h1 class="h3 mb-0 text-gray-800">Rental Tracker:</h1>
        </div>
    </div>

    <!-- Cards for Pending Rental Orders -->
    <div class="card shadow mb-3">

        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Rentals Pending Approval<h6>
        </div>

        <div class="card-body row">
            {% if pendingOrders %}
                {% for order in pendingOrders %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm h-100 rental-card" data-bs-toggle="modal" data-bs-target="#approveRentalModal-{{ order.id }}" style="cursor: pointer;">
                        <div class="card-body" style="display: flex; flex-direction: column;"> <!-- these style additions make the cards more uniform, regardless of length of data displayed in it-->
                            <!-- Rental Start Date -->
                            <div class="card-text" style="font-size: 14px; font-weight: bold;">
                                <u>Pending Dates:</u>
                            </div>
                            <div class="card-text text-warning" style="font-size: 20px; font-weight: bold;">
                                {{ order.rental_start_date }}-{{ order.rental_end_date }}
                            </div>

                            <br>

                            {% comment %} <!-- SAVING THIS Rental End Date FOR THE Color Coding -->
                            <div class="{% if order.days_remaining <= 0 %}text-danger{% elif order.days_remaining <= 3 %}text-warning{% else %}text-success{% endif %}" style="font-size: 24px; font-weight: bold; text-decoration: underline;">
                                <i class="{% if order.days_remaining <= 0 %}fa fas fa-triangle-exclamation{% elif order.days_remaining <= 3 %}fa fas fa-hourglass-half{% else %}fa fas fa-check-circle{% endif %}" style="font-size: 20px;"></i>
                                {{ order.rental_end_date }}
                            </div> {% endcomment %}

                            <!-- Equipment ID -->
                            <div class="card-text" style="font-size: 14px; font-weight: bold;">
                                <u>Equipment ID:</u>
                            </div>
                            <div class="card-text text-warning" style="font-size: 20px; font-weight: bold;">
                                {{ order.equipment.name }}
                            </div>

                            <br>

                            <!-- Customer Name -->
                            <div class="card-text" style="font-size: 16px;">
                                <strong>Customer:</strong> {{ order.customer.first_name }} {{ order.customer.last_name }}
                            </div>

                            <!-- Equipment Location -->
                            <div class="card-text" style="font-size: 14px;">
                                    <a href="https://www.google.com/maps/search/?api=1&query={{ order.location|urlencode }}" target="_blank">
                                        {{ order.location }}
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for Approving Rentals -->
                <div class="modal fade" id="approveRentalModal-{{ order.id }}" tabindex="-1" aria-labelledby="approveRentalModalLabel-{{ order.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="aproveRentalModalLabel-{{ order.id }}">Approve Rental for {{ order.equipment.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span class="btn-close" aria-label="Close" style="font-size: 1.5rem; line-height: 1; color: #495057; background-color: transparent; border: none; cursor: pointer;" role="button">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="{% url 'approve_rental' order_id=order.id %}" class="approve-rental-form" id="approveRentalForm-{{order.id}}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <!-- Copy Customer Link Button -->
                                    <button type="button" class="btn btn-sm btn-secondary copy-cust-link" id="copyCustLink-{{ order.id }}" data-link="{{baseURL}}{% url 'customer_confirmation' order.id %}" data-orderid="{{order.id}}">Copy Customer Link</button>
                                    <a class="btn btn-sm btn-primary rental-card" href="{% url 'confirmation' order.id %}">View Docs</a>
                                    <hr>
                                    <!-- Customer and Rental Information -->
                                    <p><strong>{{ order.customer.first_name }} {{ order.customer.last_name }}</strong> is requesting to rent:</p>
                                    <ul>
                                        <li><strong>{{order.equipment.name}}</strong></li>
                                    </ul>
                                    <ul>
                                        <li><strong>{{ order.rental_start_date }}</strong> to <strong>{{ order.rental_end_date }}</strong></li>
                                    </ul>

                                    <!-- Unavailable Dates -->
                                    <p>Make sure requested dates don't conflict with unavailable dates:</p>
                                    <ul>
                                        {% for period in order.unavailableDates %}
                                            <li><strong>{{ period }}</strong></li>
                                        {% empty %}
                                            <li><strong>No unavailable dates.</strong></li>
                                        {% endfor %}
                                    </ul>

                                    <!-- Transportation and Location Information -->
                                    <p>The machine will need to be transported to:</p>
                                    <ul>
                                        <li>
                                            <a href="https://www.google.com/maps/search/?api=1&query={{ order.location|urlencode }}" target="_blank">
                                                <strong>{{ order.location }}</strong>
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- Payment Information -->
                                    <p><strong>Customer Paid?</strong></p>
                                    <table class="table table-bordered table-hover mt-4">
                                        <thead>
                                            <tr>
                                                {% comment %} <th>Type</th> {% endcomment %}
                                                <th>Line Item</th>
                                                <th>Cost</th>
                                                <th>Payment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if companyInfo.security_deposits_active %}
                                            <!-- Row for Security Deposit (if activated) -->
                                            <tr>
                                                {% comment %} <td><strong>Initial Rental</strong></td> {% endcomment %}
                                                <td>Security Deposit</td>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <span>${{ order.security_deposit }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="badge text-white {% if order.paid %}bg-success{% else %}bg-danger{% endif %}">
                                                        {% if order.paid %} 
                                                        Paid <!--(this will never show as paid here under the new setup because user can't pay until rental is approved) -->
                                                        {% else %}
                                                        Outstanding
                                                        {% endif %}
                                                    </span>
                                                </td>
                                            </tr>
                                            {% endif %}

                                            <!-- Row for Initial Rental -->
                                            <tr>
                                                {% comment %} <td><strong>Initial Rental</strong></td> {% endcomment %}
                                                <td>Initial Rental - {{ order.rental_term_agreement }} day{% if order.rental_term_agreement > 1 %}s{% else %}{% endif %}</td>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <span>$&nbsp</span>
                                                        <input class="form-control rental-cost" size="6" id="rentalCost-{{ order.id }}" name="rentalCost-{{ order.id }}" value="{{ order.total_cost|intcomma }}" data-original="{{order.total_cost}}" data-orderid="{{order.id}}"></input>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="badge text-white {% if order.paid %}bg-success{% else %}bg-danger{% endif %}">
                                                        {% if order.paid %} 
                                                        Paid
                                                        {% else %}
                                                        Outstanding
                                                        {% endif %}
                                                    </span>
                                                </td>
                                            </tr>

                                            <!-- Row for Initial Rental TRANSPORT -->
                                            <tr>
                                                {% comment %} <td><strong>Transport Fee</strong></td> {% endcomment %}
                                                <td>Equipment Transport{% if order.rental_term_agreement >= 28 %} - (1/2 off) {% else %}{%endif%}</td>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                        <span>$&nbsp</span>
                                                        <input class="form-control transport-fee" size="6" id="transportFee-{{ order.id }}" name="transportFee-{{ order.id }}" value="{{ order.transport_order.cost|intcomma }}" data-original="{{order.transport_order.cost}}" data-orderid="{{order.id}}"></input>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="badge text-white {% if order.transport_order.paid %}bg-success{% else %}bg-danger{% endif %}">
                                                        {% if order.transport_order.paid %} 
                                                        Paid
                                                        {% else %}
                                                        Outstanding
                                                        {% endif %}
                                                    </span>
                                                </td>
                                            </tr>
                                            <!-- Rows for Extensions -->
                                            <!-- (not necessary, at least rn, since it's impossible to create an extension for a rental that hasn't been approved yet.) -->
                                            <tr>
                                                <td colspan="4" class="text-center"><strong>Total Cost: </strong>$<span id="totalCost-{{ order.id }}" name="totalCost-{{ order.id }}">{{order.initialTotalCost|intcomma}}<span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="agreeTerms" required>
                                        <label class="form-check-label" for="agreeTerms">I certify there are no schedule conflicts.</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Approve Rental</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>There are no pending rental orders.</p>
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>

<style>
    /* Hover effect for highlighting the card */
    .rental-card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    }
</style>

<script>
    // script to handle the "Copy Customer Link" buttons
    document.querySelectorAll(".copy-cust-link").forEach(button => {
        button.addEventListener("click", function () {
            const orderId = this.dataset.orderid;
            const link = document.getElementById(`copyCustLink-${orderId}`).getAttribute('data-link');
            navigator.clipboard.writeText(link).then(function () {
                alert('Customer link copied to clipboard!');
            }).catch(function (err) {
                console.error('Could not copy text: ', err);
            });
        });
    });

    // Function to check for hashes in the url, and if found, load a specified modal
    document.addEventListener('DOMContentLoaded', () => {
        const hash = window.location.hash; // Get the fragment identifier
        if (hash) {
            const modalId = hash.substring(1); // Remove the '#' to get the modal ID
            const modalElement = document.getElementById(modalId);
            if (modalElement) {
                const modal = new bootstrap.Modal(modalElement);
                modal.show();
            } else {
                console.warn(`Modal with ID '${modalId}' not found.`);
            }
        }
    });

    // Function to listen for changes made to the pricing in the approveRental modal, and confirm before submitting
    document.addEventListener("DOMContentLoaded", function () {

        function cleanCurrency(value) {
            return parseFloat(value.replace(/[^0-9.]/g, '')) || 0;
        }

        function updateTotal(orderId) {
            // grab inputs
            const rentalCostInput = document.getElementById(`rentalCost-${orderId}`);
            const transportFeeInput = document.getElementById(`transportFee-${orderId}`);
            const totalCost = document.getElementById(`totalCost-${orderId}`);

            // grab security deposit amount (will be 0 if this setting is off)
            const securityDepositAmt = {{companyInfo.default_security_deposit}}
            
            // convert input values to integers, and if empty or invalid, defaults to 0
            const newRentalCost = cleanCurrency(rentalCostInput.value);
            const newTransportFee = cleanCurrency(transportFeeInput.value);
            const total = (newRentalCost + newTransportFee + securityDepositAmt).toFixed(2); // adding the current security deposit amount could be bad if management happened to change the default amount between order creation and order approval, but the mismatch would only be visible to management and would not cause wrong payment.
            totalCost.innerText = total.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }

        // Attach listeners to every input with the relevant class
        document.querySelectorAll(".rental-cost, .transport-fee").forEach(input => {
            input.addEventListener("input", function () {
                const orderId = this.dataset.orderid;
                updateTotal(orderId);
            });
        });

        // on submit, require confirmation of changes with user
        const forms = document.querySelectorAll(".approve-rental-form");

        forms.forEach(function (form) {
            form.addEventListener("submit", function (e) {
                const rentalCostInput = form.querySelector(".rental-cost");
                const transportFeeInput = form.querySelector(".transport-fee");

                const newRentalCost = parseFloat(rentalCostInput.value) || 0;// converts input value to integer, and if empty or invalid, defaults to 0
                const newTransportFee = parseFloat(transportFeeInput.value) || 0; 

                const originalRentalCost = parseFloat(rentalCostInput.dataset.original) || 0;
                const originalTransportFee = parseFloat(transportFeeInput.dataset.original) || 0;

                if (newRentalCost !== originalRentalCost || newTransportFee !== originalTransportFee) {
                    const confirmChange = confirm(
                        "Are you sure you want to change the pricing for this order?"
                    );
        
                    if (!confirmChange) {
                        e.preventDefault(); // Stop form from submitting
                    }
                }
            })
        })

    });
</script>

{% endblock %}