{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Today's Pickups and Dropoffs</h1>

    <div class="card mt-3">
        <div class="card-header">
            Outgoing Rentals
        </div>
        <div class="card-body">
            {% if outgoing_orders %}
                {% for order in outgoing_orders %}
                    <p>{{ order.equipment.name }} - Pickup at {{ order.pickup_time }}</p>
                {% endfor %}
            {% else %}
                <p>No rentals being picked up today</p>
            {% endif %}
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            Rental Returns
        </div>
        <div class="card-body">
            {% if returning_orders %}
                {% for order in returning_orders %}
                    <p>{{ order.equipment.name }} - Dropoff at {{ order.dropoff_time }}</p>
                    {% if order.inspected == False %}
                    <a href="{% url 'perform_inspection' order.id %}" class="btn btn-warning">Perform Inspection</a>
                    {% else %}
                    <a href="#" class="btn btn-success">Inspection Complete</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No rentals being returned today</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
