{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Pickups and Dropoffs 
        <label for="filter-date" class="form-label">For:</label>
        <input type="date" id="filter-date" class="form-control" value="{{ selected_date }}" onchange="applyDateFilter()">
    </h1>
    <hr>
    {% comment %} <a href="{% url 'employee_dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
    <a href="{% url 'inspections' %}" class="btn btn-primary">Pending Inspections</a> {% endcomment %}

    <!-- Date Picker for Filtering Pickups/Dropoffs -->
    <div class="row align-items-center mb-4">
        <div class="col-md-3">
            
        </div>
    </div>

    <!-- Outgoing Rentals Section -->
    <div class="card mt-3">
        <div class="card-header">
            Outgoing Rentals
        </div>
        <div class="card-body">
            {% if outgoing_orders %}
                {% for order in outgoing_orders %}
                    <p>{{ order.equipment.name }} - Pickup at {{ order.pickup_time }}</p>
                {% endfor %}
            {% else %}
                <p>No rentals being picked up today</p>
            {% endif %}
        </div>
    </div>

    <!-- Rental Returns Section -->
    <div class="card mt-3">
        <div class="card-header">
            Rental Returns
        </div>
        <div class="card-body">
            {% if returning_orders %}
                {% for order in returning_orders %}
                    <p>{{ order.equipment.name }} - Dropoff at {{ order.dropoff_time }}</p>
                    {% if order.inspected == False %}
                    <a href="{% url 'perform_inspection' order.id %}" class="btn btn-warning">Perform Inspection</a>
                    {% else %}
                    <a href="#" class="btn btn-success">Inspection Complete</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No rentals being returned today</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Function to apply the selected date filter by reloading the page with the selected date in the URL
    function applyDateFilter() {
        const selectedDate = document.getElementById('filter-date').value;
        window.location.href = `?date=${selectedDate}`;  // Redirect with date in query string
    }
</script>
{% endblock %}
