{% extends "customer_base.html" %}

{% block content %}{% load humanize %}
<div class="container">
    <h1 class="mt-5">Order Summary</h1>
    <p><strong>Customer:</strong> {{ order_data.customer_fName }} {{ order_data.customer_lName }}</p>
    <p><strong>Phone Number:</strong> {{ order_data.phone_number }}</p>
    <p><strong>Email:</strong> {{ order_data.email }}</p>
    <p><strong>Customer Notification Preference:</strong> {{ order_data.cust_notification_preference }}</p>
    <p><strong>Equipment:</strong> {{ order_data.equipmentType }}</p>
    <p><strong>Rental Start Date:</strong> {{ order_data.rental_start_date }}</p>
    <p><strong>Rental End Date:</strong> {{ order_data.rental_end_date }}</p>
    <p><strong>Rental Period</strong> {{ order_data.rental_period }} days</p>
    <p><strong>Location for Equipment Dropoff:</strong> {{ order_data.location }}</p>
    <strong>Estimated Total Cost:</strong> ${{ grandTotal|intcomma }}
    <ul class="cost-breakdown">
        <li><span>Rental Cost: </span><span> ${{ order_data.total_cost|intcomma }}</span></li>
        <li><span>Delivery Cost: </span><span> ${{delivery_fee|intcomma}} *** note that delivery cost is estimated, and will be finalized when your rental is approved. ***</span></li>
    </ul>

    <br>
    <form method="post">
        {% csrf_token %}
        <button onclick="window.history.back()"type="button" class="btn btn-danger">Edit Info</button>
        {% if order_data.customer != "ERROR" %}
        <button type="submit" class="btn btn-primary">Confirm and Pay</button>
        {% endif %}
    </form>
</div>
<br>
{% comment %} <style>
    .cost-breakdown {
      list-style-type: none;
      padding: 0;
    }
    .cost-breakdown li {
      padding: 5px 0;
      display: inline-block;  /* Ensures that the description and value are on the same line */
      width: 100%; /* Optional: Ensures full width for alignment */
    }
    .cost-breakdown .cost-item {
      display: inline-block;  /* Make the description and cost value appear inline */
      margin-right: 10px; /* Optional: Adds space between the description and value */
    }
    .total-cost {
      font-weight: bold;
      font-size: 1.2em;
      margin-top: 10px;
    }
</style> {% endcomment %}
{% endblock %}
