{% extends "customer_base.html" %} {% load humanize %}

{% block content %}
<div class="container mt-4">

    <div class="text-center p-3 border bg-light">
        {% if contract_signed and paid and order.rental_approved %}
        <h5>Your rental request <u><strong>has been approved</strong></u>. Thank you for your payment and signature!</h5>
        {% elif contract_signed and paid %}
        <h5>Your rental request is <u><strong>being reviewed</strong></u>. Thank you for your payment and signature!</h5>
        {% else %}
        <h5>Your rental request is <u><strong>being reviewed</strong></u>. Before approval, please complete the pending tasks under "Customer Actions."</h5>
        {% endif %}
    </div>

    <div class="container my-4">
        <div class="row">
            <!-- First Column: Takes up 6 out of 12 columns -->
            <div class="col-md-6">
                <h3>Customer Actions:</h3>
                <hr>
                <u><h5>Initial Rental:</h5></u>
                <!-- Checklist Items -->
                <div class="checklist">
                    <div class="checklist-item d-flex align-items-center mb-3">
                        <!-- Task 1: Sign Rental Agreement -->
                        {% if not contract_signed %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#signAgreementModal" class="d-flex align-items-center">
                            <i class="{% if contract_signed %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                            <span class="fw-bold">Sign Rental Agreement</span>
                        </a>
                        {% else %}
                        <i class="{% if contract_signed %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                        <span class="fw-bold">Signed Rental Agreement</span>
                        &nbsp
                        <div class="ms-auto">
                            <a href="{% url 'download_pdf' order.id %}" class="btn btn-primary">Download PDF Copy</a>
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="checklist-item d-flex align-items-center mb-3">
                        <!-- Task 2: Make Payment -->
                        {% if not paid %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#paymentModal" class="d-flex align-items-center">
                            <i class="{% if paid %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                            <span class="fw-bold">Complete Payment</span>
                        </a>
                        {% else %}
                        <i class="{% if paid %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                        <span class="fw-bold">Completed Payment</span>
                        <div class="ms-auto">
                            <a href="{{order.payment_receipt_url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">View Receipt</a>
                        </div>
                        {% endif %}
                    </div>
            
                    <!-- This block generates an error message for the initial rental if there was an error with payment -->
                    {% if messages %}
                        {% for message in messages %}
                            {% if "initialPayment" in message.tags %}
                                <div class="icon-circle text-danger">
                                    <i class="fas fa-exclamation-triangle text-danger"></i>
                                    {{ message }}
                                </div>
                                <br/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if extensions %}
                <hr>
                
                <u><h5>Extension Requests:</h5></u>
                {% for extension in extensions%}
                {% if not extension.paid %}
                <h5>Your rental extension below is <u><strong>being reviewed</strong></u>.</h5>
                <p>Before approval, please complete payment!</p>
                {% endif %}
                <div class="checklist-item d-flex align-items-center mb-3">
                    <!-- Task 2: Make Payment -->
                    {% if not extension.paid %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#extensionPaymentModal-{{ extension.id }}" class="d-flex align-items-center" autofocus>
                            <i class="{% if extension.paid %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                            <span class="fw-bold">Complete Payment for Extension to {{extension.new_end_date}}:</span>
                        </a>

                        <!-- This block generates an error message for the extension the user was trying to pay for if there was an error with payment -->
                        {% if messages %}
                        {% for message in messages %}
                            {% if "extensionPayment" in message.tags %}
                                {% if extension.id|stringformat:"s" in message.tags %}
                                    <div class="icon-circle text-danger">
                                        <i class="fas fa-exclamation-triangle text-danger"></i>
                                        {{ message }}
                                    </div>
                                    <br/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    
                    {% else %}
                        <i class="{% if extension.paid %}fas fa-check-square text-success{% else %}far fa-square text-muted{% endif %} fa-2x me-3"></i>
                        <span class="fw-bold">Completed Payment for Extension to {{extension.new_end_date}}:</span>
                        <div class="ms-auto mt-2">
                            <a href="{{extension.payment_receipt_url}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">View Receipt</a>
                        </div>
                    {% endif %}

                    <!-- Complete EXTENSION Payment Modal -->
                    <div class="modal fade" id="extensionPaymentModal-{{ extension.id }}" tabindex="-1" aria-labelledby="extensionPaymentModalLabel-{{ extension.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="extensionPaymentModalLabel-{{ extension.id }}">Complete Payment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Custom code for payment process goes here -->
                                    <div id="payment-form">
                                        <div class="cost-display">
                                            <h3 class="description">Total Cost for Your {{extension.days_extended}}-day Rental Extension</h3>
                                            {% comment %} <p class="total-cost">Rental Total Cost</p> {% endcomment %}
                                            <p class="price">${{ extension.cost|intcomma }}</p>
                                        
                                            <div id="extension-{{ extension.id }}-payment-status-container"></div>
                                            <div id="extension-{{ extension.id }}-card-container"></div>
                                            <button id="extension-{{ extension.id }}-card-button" type="button" class="btn btn-primary w-100">Pay</button>
                                            <br>
                                            <br>
                                            {% if sandboxed %}
                                            ***
                                            <h5><u>You're in SANDBOX MODE:</u></h5>
                                            <p><strong>Card Number:</strong> 4111 1111 1111 1111</p>
                                            <p><strong>CVV:</strong> 111</p>
                                            <p><strong>Expiration:</strong> Any future date</p>
                                            <p><strong>Zip Code:</strong> Any valid zip</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        
                {% endfor %}
                {% endif %}
            </div>

            <!-- Second Column -->
            <div class="col-md-6">
                <div class="row justify-content-center">

                    <!-- Payment Info Card -->
                    <div class="card p-4">
                        <h3 class="text-center">Order Info - #{{order.id}}</h3>

                        <hr>
    
                        <p class="fw-bold">Customer: <span class="text-muted">{{ order.customer.first_name }} {{ order.customer.last_name }}</span></p>
                        <p class="fw-bold">Equipment Type: <span class="text-muted">{{ order.equipment.equipment_type }} Forklift </span></p>
                        <p class="fw-bold">Rental Period: <span class="text-muted">{{ order.rental_start_date }} - {{ order.rental_end_date }}</span></p>
                        <p class="fw-bold">Dropoff Location: <span class="text-muted">{{ order.location }}</span></p>
        
                        <hr>
        
                        <!-- Payment Breakdown -->
                        <div class="mt-4">
                            <h5 class="fw-bold">Payment Breakdown:</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Initial Forklift Rental</span>
                                <span class="fw-bold text-muted">${{order.total_cost|intcomma}}</span>
                            </div>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Delivery/Transport Costs</span>
                                <span class="fw-bold text-muted">${% if order.transportorder.cost %} {{order.transportorder.cost|intcomma}} {% else %}0{%endif%}</span>
                            </div>
                            <br>
                            {% for extension in extensions %}
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Extension to {{extension.new_end_date}}</span>
                                <span class="fw-bold text-muted">${{extension.cost|intcomma}}</span>
                            </div>
                            <br>
                            {% endfor %}
                            <div class="d-flex justify-content-between align-items-center">
                                <strong><span>Grand Total:</span></strong>
                                <span class="fw-bold text-success">${{grand_total_cost|intcomma}}</span>
                            </div>
                        </div>
        
                        <!-- Action Buttons -->
                        {% comment %} <div class="mt-4 text-center">
                            <a href="receipt_url_here" class="btn btn-primary me-2">Download Receipt</a>
                            <a href="contact_url_here" class="btn btn-outline-secondary">Contact Support</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>     

    <!-- Sign Agreement Modal -->
    <div class="modal fade" id="signAgreementModal" tabindex="-1" aria-labelledby="signAgreementModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signAgreementModalLabel">Sign Rental Agreement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Contract Fragment: -->
                {% include "contract_fragment.html" %}
 
            </div>
        </div>
    </div>

    <!-- Complete Payment Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Complete Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Custom code for payment process goes here -->
                    <div id="payment-form">
                        <div class="cost-display">
                            <h3 class="description">Total Cost for Your Order:</h3>
                            {% comment %} <p class="total-cost">Rental Total Cost</p> {% endcomment %}
                            <p class="price">${{initial_total_cost|intcomma}}</p>
                        
                            <div id="primary-payment-status-container"></div>
                            <div id="primary-payment-card-container"></div>
                            <button id="primary-payment-card-button" type="button" class="btn btn-primary w-100">Pay</button>
                            <br>
                            <br>
                            {% if sandboxed %}
                            ***
                            <h5><u>You're in SANDBOX MODE:</u></h5>
                            <p><strong>Card Number:</strong> 4111 1111 1111 1111</p>
                            <p><strong>CVV:</strong> 111</p>
                            <p><strong>Expiration:</strong> Any future date</p>
                            <p><strong>Zip Code:</strong> Any valid zip</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<style>
    .cost-display {
      background-color: #f8f9fa;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-width: auto;
      margin: auto;
      text-align: center;
    }
    .total-cost {
      font-size: 2rem;
      font-weight: bold;
      color: #28a745;
    }
    .description {
      font-size: 1.1rem;
      color: #6c757d;
    }
    .price {
      font-size: 1.5rem;
      font-weight: bold;
      color: #343a40;
    }
    .cursive-text {
      font-family: 'Brush Script MT', cursive;
    }
</style>

<script type="module">
    const orderId = {{ order_id }};
    const appId = '{{ squareAppId|escapejs }}';
    const locationId = '{{ squareLocationId|escapejs }}';
    
    async function initializePrimaryPayment(extensionId) {
        const payments = Square.payments(appId, locationId);
        const card = await payments.card();
        await card.attach('#primary-payment-card-container');
        const orderType = "initial";

        document.getElementById('primary-payment-card-button').addEventListener('click', async () => {
            const statusContainer = document.getElementById('primary-payment-status-container');
            const result = await card.tokenize();

            if (result.status === 'OK') {
                statusContainer.innerText = 'Payment Info Submitted!';
                await updatePaymentStatus(extensionId, result.token, orderId, orderType); // Pass token to backend
            } else {
                statusContainer.innerText = 'Payment Failed!';
            }
        });
    }

    async function initializeExtensionPayment(extensionId) {
        const payments = Square.payments(appId, locationId);
        const card = await payments.card();
        await card.attach(`#extension-${extensionId}-card-container`);
        const orderType = "extension";

        document.getElementById(`extension-${extensionId}-card-button`).addEventListener('click', async () => {
            const statusContainer = document.getElementById(`extension-${extensionId}-payment-status-container`);
            const result = await card.tokenize();

            if (result.status === 'OK') {
                statusContainer.innerText = 'Payment Info Submitted!';
                await updatePaymentStatus(extensionId, result.token, orderId, orderType); // Pass token to backend
            } else {
                statusContainer.innerText = 'Payment Failed!';
            }
        });
    }

    // Function to make an AJAX request to the Django server to update the payment status in the database
    async function updatePaymentStatus(extensionId, token, orderId, orderType) {
        try {
            // Send GET request with 'order_id' as a URL parameter
            const response = await fetch(`/update_payment_status/?extensionId=${extensionId}&token=${token}&orderId=${orderId}&orderType=${orderType}`, {
                method: 'GET',  // Using GET request
            });
            location.reload();
        } catch (error) {
            console.error('Error triggering Django view', error);
        }
    }

    document.addEventListener('DOMContentLoaded', async () => {
        await initializePrimaryPayment({{ extension.id }});

        {% for extension in extensions %}
            await initializeExtensionPayment({{ extension.id }});
        {% endfor %}
    });
</script>
{% endblock %}
