{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% comment %} <h1 class="mt-5">Thanks for choosing Jobsite Rents!</h1>
    <p>&nbsp If you have any questions or concerns, please call <a href="tel:(801)-123-1234" class="">(801)-123-1234</a>.</p>
    <hr> {% endcomment %}
    <h2 class="mt-5">Start by Selecting Equipment Type:</h2>
    <div class="row">
        {% for item in allEquipmentTypes %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{% static item.imgURL }} %}" alt="{{ item.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }} {{ item.category }}</h5>
                        <p>{{ item.specs|truncatechars:145 }}</p>
                        {% comment %} <p><strong>Quantity:</strong> {{ item.available_quantity }}</p> {% endcomment %}
                        <a href="{% url 'equipment_detail' item.id %}" class="btn btn-primary">View Availability</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
