{% extends "base.html" %}

{% block content %}
<div class="container">
    {% comment %} <h1 class="mt-5">Thanks for choosing Jobsite Rents!</h1>
    <p>&nbsp If you have any questions or concerns, please call <a href="tel:(801)-123-1234" class="">(801)-123-1234</a>.</p>
    <hr> {% endcomment %}
    <h1 class="mt-5">Order Summary</h1>
    <p><strong>Customer:</strong> {{ order_data.customer_fName }} {{ order_data.customer_lName }}</p>
    <p><strong>Phone Number:</strong> {{ order_data.phone_number }}</p>
    <p><strong>Email:</strong> {{ order_data.email }}</p>
    <p><strong>Customer Notification Preference:</strong> {{ order_data.cust_notification_preference }}</p>
    <p><strong>Equipment:</strong> {{ order_data.equipmentType }}</p>
    <p><strong>Rental Start Date:</strong> {{ order_data.rental_start_date }}</p>
    <p><strong>Rental End Date:</strong> {{ order_data.rental_end_date }}</p>
    <p><strong>Rental Period</strong> {{ order_data.rental_period }} days</p>
    <p><strong>Location for Equipment Dropoff:</strong> {{ order_data.location }}</p>
    <p><strong>Total Cost:</strong> ${{ order_data.total_cost }}</p>
    <form method="post">
        {% csrf_token %}
        <button onclick="window.history.back()"type="button" class="btn btn-danger">Edit Info</button>
        {% if order_data.customer != "ERROR" %}
        <button type="submit" class="btn btn-primary">Confirm and Pay</button>
        {% endif %}
    </form>
</div>
{% endblock %}
